body {
  position: relative;
  top: 40px;
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}
#weather,
#city,
#forecast {
  text-align: center;
}
#weather-body {
  border: 2px solid rgb(241, 129, 241);
  border-radius: 18px;
  background-color: #8ef6e4;
}

#topicon {
  text-align: center;
  font-size: 700%;
}
form {
  padding-top: 20px;
  padding-bottom: 20px;
}
b {
  color: rgb(63, 63, 231);
}
p a,
span a {
  text-decoration: none;
}
.forecast-row {
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
}
#topicon {
  width: 170px;
}
.next-row {
  padding-top: 20px;
}
li {
  list-style-type: none;
  text-transform: capitalize;
}
img {
  display: block;
  margin: 0 auto;
}
div.container p {
  font-size: 18px;
}
#icon1,
#icon2,
#icon3,
#icon4 {
  width: 70px;
}
#date1,
#date2,
#date3,
#date4,
#temp1,
#temp2,
#temp3,
#temp4 {
  text-align: center;
}
.active {
  color: #000;
  cursor: default;
}
.active:hover {
  color: #000;
}
#forecast,
#city {
  text-transform: capitalize;
}
.units {
  position: relative;
  bottom: 20px;
}
#temp {
  color: #000;
  font-size: 58px;
}
