#weather,
#city,
#forecast {
  text-align: center;
}
body {
  position: relative;
  top: 40px;
}
#topicon {
  text-align: center;
  font-size: 700%;
}
form {
  padding-top: 20px;
  padding-bottom: 20px;
}
b {
  color: rgb(63, 63, 231);
}
p a {
  text-decoration: none;
}
.forecast-row {
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
}
#topicon {
  width: 170px;
}
.next-row {
  padding-top: 20px;
}
li {
  list-style-type: none;
  text-transform: capitalize;
}
img {
  display: block;
  margin: 0 auto;
}
div.container p {
  font-size: 18px;
}
#icon1,
#icon2,
#icon3,
#icon4 {
  width: 70px;
}
#date1,
#date2,
#date3,
#date4,
#temp1,
#temp2,
#temp3,
#temp4 {
  text-align: center;
}
#forecast,
#city {
  text-transform: capitalize;
}
